<div class="page-header" ng-controller="SearchCtrl">
   <h1>{{name}}</h1>
   <br>

  <form ng-submit="searchTitles(query)" ng-controller="SearchCtrl" class="container">

    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Filter Titles" ng-model="titleSearch.TitleName">
<!--       <span class="input-group-btn">
        <a href="#" role="button" class="btn btn-default" type="button">Go!</a>
      </span> -->
    </div><!-- /input-group -->

    <div>
      <div ng-repeat="title in titles | filter: titleSearch">

        <li class="titles">
          <div class="box">
            <h4><a ng-click="show =!show">{{title.TitleName}}</a></h4>          
          </div>

          <div class="check-element animate-show" ng-show="show">
           <p><strong>Release Year:</strong> {{title.ReleaseYear}}</p><br>
           <p><strong>Storyline:</strong> {{title.Storylines[0].Description}}</p><br>
          </div>

        </li>
      </div>
    </div>

  </form>
  </div>
